# Create:      201*/**/** **:**:**
# Last Change: 2023/03/21 10:39:55.

# ------------------------------------------------------------------------------
#  独自追記
# ------------------------------------------------------------------------------
# 無視する者共
tags
ctags.exe

gitconfig_hbamb748.local
memo.txt

nvim/.netrwhist
nvim/rplugin.vim
yankring_history_v2.txt

~/AppData/Local/nvim/.netrwhist
~/AppData/Local/nvim/rplugin.vim

# 拡張子を無視する場合 "/" は不要
*.bak
*.bk
*.modifying
*.new
*.ng
*.ok
*.pyc
*.stackdump
*.tempkill*

# 特定のディレクトリを無視する場合、先頭と末尾に "/"
/.history/
/.idea/
/old/

# 特定のファイルを無視する場合、先頭に "/"
    # 再帰処理しない
# /foo
/.vim/dein/*
/.vim/tmp/*
/.vim/undo/*
/.config/nvim/tmp/*
/.config/nvim/undo/*
/.vim/userautoload/Users/*
/etc/init/windows/settings/cygwin/apt-cyg/*

Users/*
*/Users/

# 無視しない者共
# !/.vim/tmp/README.md

# Temporary Files

# ------------------------------------------------------------------------------
#  Vim
# ------------------------------------------------------------------------------
*.swo
*.swp
*.un~
.netrwhist
Session.vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]

# ------------------------------------------------------------------------------
#  Backup files
# ------------------------------------------------------------------------------
*.bak
*.bk
*.old
*.orig
*~
# yyyymmdd
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
# yyyymmddhhmm
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
# yyyymmddhhmmss
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]

# ------------------------------------------------------------------------------
#  OS dependent files
# ------------------------------------------------------------------------------
.DS_Store
Thumbs.db

# ------------------------------------------------------------------------------
#  Bundler specific
# ------------------------------------------------------------------------------
/.bundle/
/vendor/bundle/

# ------------------------------------------------------------------------------
#  Office specific
# ------------------------------------------------------------------------------
~$*

# ------------------------------------------------------------------------------
#  Vagrant specific
# ------------------------------------------------------------------------------
vagrant/
