# Last Change: 2019/09/26 10:46:21.
[user]
	name = 脇田 純
	email = wacky515@gmail.com

[color]
	ui = auto
	diff = auto
	status = auto
	branch = auto

[alias]
	st = status
	sts = status --short
	ci = commit
	cm = commit -m
	br = branch
	co = checkout
    p = !git push origin `git rev-parse --abbrev-ref HEAD`

    lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[core]
	excludesfile = /Users/wacky515/.gitignore
	editor = vim

[include]
    path = gitconfig.os

[remote "origin"]
	proxy =

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[commit]
	template = /Users/wacky515/.stCommitMsg
