# ------------------------------
# 独自追記
# ------------------------------
# 無視する者共
tags
ctags.exe
memo.txt
*.old
*.new
*.modifying
/.vim/tmp/*
/.vim/dein/*
*.templill*

# 無視しない者共
!/.vim/tmp/README.md

# Temporary Files

# ------------------------------
# vim
# ------------------------------
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# ------------------------------
# Backup files
# ------------------------------
*~
*.orig
*.bak
# yyyyMMdd
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
# yyyyMMddHHmm
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
# yyyyMMddHHmmss
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]

# ------------------------------
# OS dependent files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Bundler specific
# ------------------------------
/vendor/bundle/
/.bundle/

# ------------------------------
# Office specific
# ------------------------------
~$*

# ------------------------------
# Vagrant specific
# ------------------------------
.vagrant/
