# Created:     201*/**/** **:**:**
# Last Change: 2023/03/16 07:48:222

[user]
	name = 脇田 純
	email = wacky515@gmail.com

[color]
	branch = auto
	diff   = auto
	status = auto
	ui     = auto

[alias]
	br  = branch
	ci  = commit
	cm  = commit -m
	co  = checkout
	st  = status
	sts = status --short
    p   = !git push origin `git rev-parse --abbrev-ref HEAD`

    lg  = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    lga = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative

[core]
	editor       = gvim
    quotepath=false
	excludesfile = ~/.gitignore

[include]
    path = ~/.gitconfig.os

[remote "origin"]
	proxy =

[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path =

[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true

[commit]
	template = ~/.stCommitMsg
