# Last Change: 2018/04/23 12:12:59.
# ------------------------------
# 独自追記
# ------------------------------
# 無視する者共
tags
ctags.exe
memo.txt
yankring_history_v2.txt
gitconfig_hbamb748.local
/etc/init/windows/settings/cygwin/apt-cyg/

# 特定の拡張子を無視する場合はどこにも/を付けない
*.ok
*.ng
*.new
*.modifying

*.tempkill*

# 特定名称のディレクトリを無視する場合は先頭と末尾に/を付ける
/old/

# 特定のファイルを無視する場合は先頭に/を付ける
    # ルートディレクトリのファイルだけを無視し、サブディレクトリは無視しない
# /foo

/.vim/tmp/*
/.vim/dein/*
/.vim/userautoload/Users/*

Users/
*/Users/

# 無視しない者共
!/.vim/tmp/README.md

# Temporary Files

# ------------------------------
# vim
# ------------------------------
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist

# ------------------------------
# Backup files
# ------------------------------
*~
*.orig
*.old
*.bk
*.bak
# yyyyMMdd
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
# yyyyMMddHHmm
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]
# yyyyMMddHHmmss
*.[0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9][0-9]

# ------------------------------
# OS dependent files
# ------------------------------
.DS_Store
Thumbs.db

# ------------------------------
# Bundler specific
# ------------------------------
/vendor/bundle/
/.bundle/

# ------------------------------
# Office specific
# ------------------------------
~$*

# ------------------------------
# Vagrant specific
# ------------------------------
vagrant/
