" ---------------------------------------------------------------------------
" マップキー篇
" ---------------------------------------------------------------------------

" 入力モード中 jj: <Esc>
inoremap jj <Esc>

" vv|Y: 行末まで選択
vnoremap v $h
nnoremap Y y$

" ---------------------------------------------------------------------------
" 編集篇
" ---------------------------------------------------------------------------

" 複数行のインデント操作時に選択を解除せず連続操作できるようにする
vnoremap > >gv
vnoremap < <gv

" 日本語の行連結は空白を入力しない
set formatoptions=Mm

" ---------------------------------------------------------------------------
" 検索篇
" ---------------------------------------------------------------------------

" 検索時に大文字・小文字を区別しない
set ignorecase
" 検索時に大文字がある場合は大文字・小文字を区別
set smartcase

" 最後のヒットまで検索したら最初のヒットに戻る
set wrapscan

" 検索マッチテキストをハイライト
set hlsearch
