<?xml version="1.0" encoding="utf-8"?>
<packages>
    <!-- <package id="SublimeText3" /> -->
    <!-- <package id="autodesk&#45;fusion360" /> -->
    <!-- <package id="cure" /> -->
    <!-- <package id="dropbox" /> -->
    <!-- <package id="easy.install" /> -->
    <!-- <package id="evernote" /> -->
    <!-- <package id="iTunes" /> -->
    <!-- <package id="lhaplus" /> -->
    <!-- <package id="onedrive" /> -->
    <!-- <package id="picasa" /> -->
    <package id="7zip" />
    <package id="Atom" />
    <package id="ChocolateyGUI" />
    <package id="ConEmu" />
    <package id="GoogleChrome" />
    <package id="GoogleJapaneseInput" />
    <package id="autohotkey" />
    <package id="cccp" />
    <package id="ccleaner" />
    <package id="clink" />
    <package id="cmder" />
    <package id="crystaldiskinfo" />
    <package id="cubepdf" />
    <package id="everything" />
    <package id="fastcopy" />
    <package id="foobar2000" />
    <package id="fritzing" />
    <package id="git" />
    <package id="googledrive" />
    <package id="iCloud" />
    <package id="lastpass" />
    <package id="miniconda3" />
    <package id="msys2" />
    <package id="pandoc" />
    <package id="qttqbbar" />
    <package id="rapidee" />
    <package id="teamviewer" />
    <package id="virtualbox" />
    <package id="winmerge" />
    <package id="zoomit" />
</packages>
