<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="7zip" />
    <package id="ag" />
    <package id="autohotkey" />
    <package id="bat" />
    <package id="cccp" />
    <package id="ChocolateyGUI" />
    <package id="cica" />
    <package id="clink" />
    <package id="Cmder" />
    <package id="ConEmu" />
    <package id="crystaldiskinfo" />
    <package id="crystaldiskmark" />
    <package id="curl" />
    <package id="Everything" />
    <package id="fastcopy" />
    <package id="filetypesman" />
    <package id="fontforge" />
    <package id="foobar2000" />
    <package id="fzf" />
    <package id="git" />
    <package id="GoogleJapaneseInput" />
    <package id="Gow" />
    <package id="msys2" />
    <package id="neovim" />
    <package id="pandoc" />
    <package id="PDFXchangeEditor" />
    <package id="peco" />
    <package id="pt" />
    <package id="putty" />
    <package id="quicklook" />
    <package id="rapidee" />
    <package id="realvnc" />
    <package id="Recuva" />
    <package id="ripgrep" />
    <package id="sourcetree" />
    <package id="ultravnc" />
    <package id="vscode" />
    <package id="winmerge" />
    <package id="zoomit" />
</packages>
