<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7-taskbar-tweaker" version="5.8" />
  <package id="7zip" version="19.0" />
  <package id="7zip.install" version="19.0" />
  <package id="ag" version="2.1.0.1" />
  <package id="anydesk" version="6.2.2.0" />
  <package id="anydesk.portable" version="6.2.2.0" />
  <package id="atom" version="1.54.0" />
  <package id="atom.install" version="1.54.0" />
  <package id="autodesk-fusion360" version="2.0.9719" />
  <package id="autohotkey.install" version="1.1.33.02" />
  <package id="autohotkey.portable" version="1.1.33.02" />
  <package id="cccp" version="2015.10.18" />
  <package id="ccleaner" version="5.77.8448" />
  <package id="chocolatey" version="0.10.15" />
  <package id="chocolatey-core.extension" version="1.3.5.1" />
  <package id="chocolatey-dotnetfx.extension" version="1.0.1" />
  <package id="chocolatey-windowsupdate.extension" version="1.0.4" />
  <package id="chocolateygui" version="0.17.3" />
  <package id="cica" version="5.0.2" />
  <package id="clink" version="0.4.9" />
  <package id="Cmder" version="1.3.17" />
  <package id="ConEmu" version="21.2.6.0" />
  <package id="crystaldiskinfo" version="8.11.1" />
  <package id="crystaldiskinfo.portable" version="8.11.1" />
  <package id="crystaldiskmark" version="8.0.0.97" />
  <package id="curl" version="7.75.0" />
  <package id="DotNet4.5.2" version="4.5.2.20140902" />
  <package id="dotnet4.7.1" version="4.7.2558.20190226" />
  <package id="dotnetfx" version="4.8.0.20190930" />
  <package id="Everything" version="1.4.11005" />
  <package id="fastcopy" version="3.92" />
  <package id="fastcopy.portable" version="3.92" />
  <package id="ffmpeg" version="4.3.2" />
  <package id="filetypesman" version="1.85" />
  <package id="fontforge" version="2020.11.07" />
  <package id="foobar2000" version="1.6.4.20210213" />
  <package id="freefilesync" version="10.2.0.20180914" />
  <package id="fzf" version="0.25.1" />
  <package id="git" version="2.30.1" />
  <package id="git.install" version="2.30.1" />
  <package id="golang" version="1.16" />
  <package id="GoogleChrome" version="88.0.4324.182" />
  <package id="GoogleJapaneseInput" version="1.3.24.20141007" />
  <package id="Gow" version="0.8.0" />
  <package id="iobit-uninstaller" version="10.3.0.13" />
  <package id="KB2919355" version="1.0.20160915" />
  <package id="KB2919442" version="1.0.20160915" />
  <package id="KB2999226" version="1.0.20181019" />
  <package id="KB3033929" version="1.0.5" />
  <package id="KB3035131" version="1.0.3" />
  <package id="lastpass" version="4.64.0" />
  <package id="miniconda3" version="4.9.2" />
  <package id="myrica" version="2.006.20150301.20190415" />
  <package id="neovim" version="0.4.4.20210116" />
  <package id="netfx-4.7.1-devpack" version="4.7.2558.20190225" />
  <package id="nodejs" version="15.9.0" />
  <package id="nodejs.install" version="15.9.0" />
  <package id="pandoc" version="2.11.4" />
  <package id="peco" version="0.5.7" />
  <package id="PhantomJS" version="2.1.1" />
  <package id="PowerShell" version="5.1.14409.20180811" />
  <package id="Prince" version="10.0" />
  <package id="pt" version="2.2.0" />
  <package id="putty" version="0.74" />
  <package id="putty.portable" version="0.74" />
  <package id="pycharm-community" version="2020.3.3" />
  <package id="quicklook" version="3.6.10" />
  <package id="rapidee" version="9.2.937" />
  <package id="Recuva" version="1.53.1087" />
  <package id="ripgrep" version="12.1.1.20200727" />
  <package id="screentogif" version="2.27.3" />
  <package id="sourcetree" version="3.4.1" />
  <package id="sumatrapdf" version="3.2" />
  <package id="sumatrapdf.install" version="3.2" />
  <package id="sumatrapdf.portable" version="3.2" />
  <package id="teraterm" version="4.105" />
  <package id="ultravnc" version="1.3200" />
  <package id="vcredist140" version="14.28.29325.2" />
  <package id="vcredist2010" version="10.0.40219.2" />
  <package id="vcredist2015" version="14.0.24215.20170201" />
  <package id="virtualbox" version="6.1.18" />
  <package id="vivaldi" version="3.6.2165.40" />
  <package id="vivaldi.portable" version="3.6.2165.40" />
  <package id="vscode" version="1.53.2" />
  <package id="vscode.install" version="1.53.2" />
  <package id="winmerge" version="2.16.10" />
  <package id="wizmouse" version="1.7.0.3" />
</packages>