[Desktop Entry]
Type=Application
Name=LXPolKit
Comment=Policykit Authentication Agent
Comment[uk]=„@„s„u„~„„ „p„r„„„€„‚„y„x„p„ˆ Policykit
Exec=lxpolkit
TryExec=lxpolkit
Icon=gtk-dialog-authentication
# "LXDE" ‚ð’Ç‰Á
NotShowIn=GNOME;KDE;LXDE
Hidden=true
