<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="autohotkey.portable" />
    <package id="cccp" />
    <package id="Ccleaner" />
    <package id="ChocolateyGUI" />
    <package id="Clover" />
    <package id="crystaldiskinfo" />
    <package id="dropbox" />
    <package id="easy.install" />
    <package id="Evernote" />
    <package id="foobar2000" />
    <package id="fritzing" />
    <package id="git" />
    <package id="git.install" />
    <package id="google-chrome-x64" />
    <package id="googledrive" />
    <package id="googleJapaneseInput" />
    <package id="lhaplus" />
    <package id="onedrive" />
    <package id="picasa" />
    <package id="SublimeText3" />
    <package id="teamviewer" />
    <package id="zoomit" />
</packages>

